/* .careerTestClass{
    margin-top: 150px;
    margin-right: 100px;
} */

.divClassb {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* gap: 10px; */
  }
  .sidei{
    margin-left: 5px;
  }
  .settingsClass{
    margin-top:-10px;
  }
  .resultsClass{
    margin-top:-10px;
  }
  
  .careerIcon{
    color:#28a745;
  }

  .divClassb.active {
    background-color:  #28a745; /* Bootstrap primary blue */
    color: white;
    /* border-radius: 5px;
    margin-left: -1px; */
  }
  