.results2-container2{
    margin-left: 100px;
   
}

.title4{
    margin-top: -35.3rem;
    margin-left: 200px;
    background-color: #28a745; /* Green background */
    color: white; /* White text */
    padding: 15px;
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
}

.no-results4{
    margin-left: 200px;
}
.results3-content3{
    margin-left: 20rem;
}